<?xml version="1.0" encoding="UTF-8" ?>

<rss version="2.0">
    <channel>
        @XmlElement("title", XmlEncode(GetValue("Item.Name")))
        @XmlElement("description", XmlEncode(GetValue("Item.Description")))
        @XmlElement("link", XmlEncode(GetAbsoluteUrl(BuildUrl(null))))
        @XmlElement("lastBuildDate", DateTime.Now.ToString("ddd, dd MMM yyyy HH:mm:ss K"))
        @XmlElement("pubDate", DateTime.Now.ToString("ddd, dd MMM yyyy HH:mm:ss K"))
        <ttl>1800</ttl>

        @RenderNewsList()
    </channel>
</rss>

@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@* Remove stuff that Dynamicweb automatically injects into the template
    @GetValue("Stylesheets")
    @GetValue("Javascripts")
    <div class="dwcontent" id="content" title="Content"></div> *@
@{
    System.Web.HttpContext.Current.Response.ContentType = "application/rss+xml";
}

@IncludeFile("../lib/razor/functions/functions.cshtml")
@IncludeFile("razor/News.cshtml")
