@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@MasterPageFile("Master/Dwtc15.cshtml")

@IncludeFile("../lib/razor/functions/functions.cshtml")
@IncludeFile("razor/News.cshtml")

<section class="news-list">
    @{
        var isArchive = GetBoolean("Item.IsArchive");

        if (!isArchive)
        {
            <div class="feeds">
                @Translate("Feeds"):
                @{
            foreach (var format in new string[] { "rss", "json" })
            {
                var url = BuildUrl(new
                {
                    LayoutTemplate = GetString("Item.SystemName") + "." + format + ".cshtml"
                });
                <a href="@url">@format</a>
            }
                }
            </div>
        }
    }

    @RenderNewsList(isArchive)
</section>
