@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@MasterPageFile("Master/Dwtc15.cshtml")

@IncludeFile("../lib/razor/functions/functions.cshtml")
@IncludeFile("razor/News.cshtml")

@using System.Collections.Generic
@using Dynamicweb.Content.Items

<article class="news">
    @ShowArchiveInfo()

    <h1>@GetValue("Item.Heading")</h1>

    <div class="content">@GetValue("Item.Content")</div>

    @ShowCategories()
    @*
        @{
            var categories = GetNewsCategories();
            if (categories.Any())
            {
                var mainCategoryPage = GetMostDistantAncestorByItemType(categoryItemType);
                <div class="categories">
                    @Translate("Categories"):
                    @foreach (var category in categories)
                    {
                        if (mainCategoryPage != null)
                        {
                            var url = BuildUrl(new
                            {
                                Id = mainCategoryPage.ID,
                                Categories = category.Id
                            });
                            <a href="@url" class="category">@category["Name"]</a>
                        }
                        else
                        {
                            <span class="category">@category["Name"]</span>
                        }
                    }
                </div>
            }
        }
    *@

    @{
        var relatedNews = GetLoop("Item.RelatedNews");
        if (relatedNews.Count > 0)
        {
            <h2>@Translate("Related news")</h2>
            <ul class="related-news">
                @foreach (var news in relatedNews)
                {
                    var url = news.GetValue("Item.RelatedNews.Url");
                    <li><a href="@url">@news.GetValue("Item.RelatedNews.Heading")</a></li>
                }
            </ul>
        }
    }
</article>
