@using System.Text.RegularExpressions

@{
	string sitelink = Pageview.Area.Item["OtherDomain"].ToString();
	
	string imageone = sitelink + "/Admin/Public/GetImage.ashx?width=420&height=237&crop=0&image=" + GetString("Item.Col1Image");
	string imagetwo = sitelink + "/Admin/Public/GetImage.ashx?width=420&height=237&crop=0&image=" + GetString("Item.Col2Image");
	string imagethree = sitelink + "/Admin/Public/GetImage.ashx?width=420&height=237&crop=0&image=" + GetString("Item.Col3Image");
	string linkone = GetString("Item.Col1Link");
	string linktwo = GetString("Item.Col2Link");
	string linkthree = GetString("Item.Col3Link");
	
	string btncolor = Pageview.Area.Item["ColorsPrimary"].ToString();
	string headcolor = Pageview.Area.Item["ColorsHeadmenuBackgroundColor"].ToString();
	string bgcolor = GetString("Item.Background");
	string textcolor = "";
	
	if (bgcolor == "none"){
		bgcolor = "#ffffff";
		textcolor = "#1C1C1C";
	} else {
		textcolor = getContrastYIQ(bgcolor);
	}
}

<!-- Three Column Images -->

<table width="590" cellpadding="0" cellspacing="0" align="center" class="deviceWidth" bgcolor="@bgcolor">
	<tr>
		<td valign="top">		
			<table width="32%" align="left" cellpadding="0" cellspacing="0" class="deviceWidth">
				@if (!string.IsNullOrWhiteSpace(GetString("Item.Col1Image"))) {
					<tr>
					    <td valign="top" style="padding:10px 10px 10px 10px">
						   <a href="@linkone"><img width="100%" src="@imageone" alt="" border="0" class="imageResponsive imagecorner" /></a>
					    </td>
					</tr>
				}
				<tr>
					<td style="color: @textcolor; padding:0 10px 20px 10px">
						@if (!string.IsNullOrWhiteSpace(linkone)) {
							<a href="@linkone" style="text-decoration: none"><h1 style="color: @textcolor !important; line-height: 1 !important; font-size: 15px !important">@GetString("Item.Col1Heading")</h1></a>
						} else {
							<h1 style="color: @textcolor !important; line-height: 1 !important; font-size: 15px !important">@GetString("Item.Col1Heading")</h1>
						}
						<p style="text-decoration: none; font-size: 12px; line-height: 1.5 !important">@StripHtmlTagByCharArray(GetString("Item.Col1Text"))</p>
				
						@if (!string.IsNullOrWhiteSpace(GetString("Item.Col1LinkText"))) {
							<table>
								<tr>
									<td align="center" width="100" height="20" bgcolor="@btncolor" style="-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; color: #ffffff; display: block;">
										<a href="@linkone" style="font-size:11px; font-weight: bold; text-decoration: none; line-height:20px; width:100%; display:inline-block">
										<span style="color: #ffffff;">
										  @GetString("Item.Col1LinkText")
										</span>
										</a>
									</td>
								</tr>
							</table>
						}
					</td>
				</tr>                                        
			</table><!-- End Image 1 -->
			<table width="32%" align="left" cellpadding="0" cellspacing="0" class="deviceWidth">
				@if (!string.IsNullOrWhiteSpace(GetString("Item.Col2Image"))) {
					<tr>
						<td valign="top" style="padding:10px 10px 10px 10px">
								<a href="@linktwo"><img width="100%" src="@imagetwo" alt="" border="0" class="imageResponsive imagecorner" /></a>
						</td>
					</tr>
				}
				<tr>
					<td style="color: @textcolor; padding:0 10px 20px 10px">
						@if (!string.IsNullOrWhiteSpace(linktwo)) {
							<a href="@linktwo" style="text-decoration: none; font-size: 14px !important; color: #272727"><h1 style="color: @textcolor !important; line-height: 1 !important; font-size: 15px !important">@GetString("Item.Col2Heading")</h1></a>
						} else {
							<h1 style="color: @textcolor !important; line-height: 1 !important; font-size: 15px !important">@GetString("Item.Col2Heading")</h1>
						}
						<p style="text-decoration: none; font-size: 12px; line-height: 1.5 !important">@StripHtmlTagByCharArray(GetString("Item.Col2Text"))</p>
				
						@if (!string.IsNullOrWhiteSpace(GetString("Item.Col2LinkText"))) {
							<table>
								<tr>
									<td align="center" width="100px" height="20px" bgcolor="@btncolor" style="-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; color: #ffffff; display: block;">
										<a href="@linktwo" style="font-size:11px; font-weight: bold; text-decoration: none; line-height:20px; width:100%; display:inline-block">
										<span style="color: #ffffff;">
										  @GetString("Item.Col2LinkText")
										</span>
										</a>
									</td>
								</tr>
							</table>
						}
					</td>
				</tr>                                        
			</table><!-- End Image 2 -->
			<table width="32%" align="left" cellpadding="0" cellspacing="0" class="deviceWidth">
				@if (!string.IsNullOrWhiteSpace(GetString("Item.Col3Image"))) {
					<tr>
						<td valign="top" style="padding:10px 10px 10px 10px">
							<a href="@linkthree"><img width="100%" src="@imagethree" alt="" border="0" class="imageResponsive imagecorner" /></a>
						</td>
					</tr>
				}
				<tr>
					<td style="color: @textcolor; padding:0 10px 20px 10px">
						@if (!string.IsNullOrWhiteSpace(linkthree)) {
							<a href="@linkthree" style="text-decoration: none; font-size: 14px !important"><h1 style="color: @textcolor !important; line-height: 1 !important; font-size: 15px !important">@GetString("Item.Col3Heading")</h1></a>
						} else {
							<h1 style="color: @textcolor !important; line-height: 1 !important; font-size: 15px !important">@GetString("Item.Col3Heading")</h1>
						}
						
						<p style="text-decoration: none; font-size: 12px; line-height: 1.5 !important">@StripHtmlTagByCharArray(GetString("Item.Col3Text"))</p>
					    
						@if (!string.IsNullOrWhiteSpace(GetString("Item.Col3LinkText"))) {
							<table>
								<tr>
									<td align="center" width="100px" height="20px" bgcolor="@btncolor" style="-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; color: #ffffff; display: block;">
										<a href="@linkthree" style="font-size:11px; font-weight: bold; text-decoration: none; line-height:20px; width:100%; display:inline-block">
										<span style="color: #ffffff;">
										  @GetString("Item.Col3LinkText")
										</span>
										</a>
									</td>
								</tr>
							</table>
						}
					</td>
				</tr>
			</table><!-- End Image 3 -->
		</td>
	</tr>
	<tr>
		<td>
			<div style="height:10px">&nbsp;</div><!-- spacer -->
		</td>					
	</tr>
	@if (GetBoolean("Item.HorizonalColorLine")){
		<tr>
			<td bgcolor="@headcolor" height="4px"><div style="height:4px !important">&nbsp;</div></td>
		</tr>
	}
</table>

<!-- Three Column Images -->

<div style="height:15px">&nbsp;</div><!-- spacer -->


@functions {
	public static string StripHtmlTagByCharArray(string htmlString)
	{
		char[] array = new char[htmlString.Length];
		int arrayIndex = 0;
		bool inside = false;
	
		for (int i = 0; i < htmlString.Length; i++)
		{
			char let = htmlString[i];
			if (let == '<')
			{
			    inside = true;
			    continue;
			}
			if (let == '>')
			{
			    inside = false;
			    continue;
			}
			if (!inside)
			{
			    array[arrayIndex] = let;
			    arrayIndex++;
			}
		}
		return new string(array, 0, arrayIndex);
	}
}

<!--Color contrast checker-->
@functions {
	private string getContrastYIQ(string hexcolor)
	{
		if (hexcolor != "")
		{
			hexcolor = Regex.Replace(hexcolor, "[^0-9a-zA-Z]+", "");

			int r = Convert.ToByte(hexcolor.Substring(0, 2), 16);
			int g = Convert.ToByte(hexcolor.Substring(2, 2), 16);
			int b = Convert.ToByte(hexcolor.Substring(4, 2), 16);
			int yiq = ((r * 299) + (g * 587) + (b * 114)) / 1000;

			if (yiq >= 128)
			{
				return "#272727";
			}
			else
			{
				return "#eee";
			}
		}
		else
		{
			return "black";
		}
	}
}