<table class="table table-striped">
	<thead>
		<td>@Translate("Filename", "Filename")</td>
		<td align=right>@Translate("Filesize", "Filesize")</td>
		<td align=right>@Translate("Date", "Date")</td>
	</thead>
	<tbody>
		@GetValue("FilepublishList")
	</tbody>
</table>
@GetValue("FilepublishUpload")