<tr>
	<td>@GetString("FilepublishFileIcon")<a href="@GetString("FilepublishFileLink")" download="@GetString("FilepublishFileLink")"> @GetString("FilepublishFileName")</td>
	<td align=right>@GetString("FilepublishFileSizeKB")</td>
	<td align=right>@GetString("FilepublishFileDatemodified")</td>
</tr>