<div class="row">
	<div class="w-box">
		<div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3">
			<div class="wp-block property list">
				<div class="wp-block-title">
					<h2>@Translate("New user", "New user"), @GetString("UserManagement:User.Name"), @Translate("succesfully created")</h2>
				</div>
				<div class="row">&nbsp;</div>

				<div class="wp-block-body">
					@GetValue("UserManagement:User.FormStart")
					
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							@Translate("Name", "Name"):
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							@GetString("UserManagement:User.Name")
						</div>
					</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							@Translate("Email", "Email"):
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							@GetString("UserManagement:User.Email")
						</div>
					</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							@Translate("Username", "Username"):
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							@GetString("UserManagement:User.UserName")
						</div>
					</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							@Translate("Phone", "Phone"):
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							@GetString("UserManagement:User.Phone")
						</div>
					</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							@Translate("Address", "Address"):
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							@GetString("UserManagement:User.Address")
						</div>
					</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							@Translate("Address", "Address") 2:
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							@GetString("UserManagement:User.Address2")
						</div>
					</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							@Translate("Zip", "Zip"):
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							@GetString("UserManagement:User.Zip")
						</div>
					</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							@Translate("City", "City"):
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							@GetString("UserManagement:User.City")
						</div>
					</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							@Translate("Country", "Country"):
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							@GetString("UserManagement:User.Country")
						</div>
					</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							@Translate("Company", "Company"):
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							@GetString("UserManagement:User.Company")
						</div>
					</div>
					<div class="row">&nbsp;</div>
					@GetValue("UserManagement:User.FormEnd")
				</div>
			</div>
		</div>
	</div>
</div>