@{
    string pageid = GetGlobalValue("Global:Page.ID");
}

<div class="col-md-6 col-sm-6 col-xs-12">
    @if (GetString("UserManagement:User.Login.Action") == "Recovery")
    {
        <h3 class="head">
            @Translate("Get back into your account", "Get back into your account")
        </h3>

        <form class="form-body" method="post" action="/Default.aspx?id=@pageid">
            <input type="hidden" name="ForgotPasswordMailTemplate" value="@GetString("UserManagement:User.Login.EmailTemplate")" />
            <input type="hidden" name="ForgotPasswordSenderEmail" value="@GetString("UserManagement:User.Login.EmailSender")" />
            <input type="hidden" name="ForgotPasswordMailSubject" value="@GetString("UserManagement:User.Login.EmailSubject")" />
            
                @if (GetInteger("UserManagement:User.Login.FoundUsersCount") == 0 || GetInteger("UserManagement:User.Login.FoundUsersCount") > 1)
                {
                    <div class="alert alert-warning">@Translate("User not found", "User not found")!</div>
                }
                @foreach (var field in GetLoop("UserManagement:User.Login.Fields"))
                {
                    <div class="pr-field">
                        <label class="control-label" for="@field.GetString("Field.Name")">
                            @field.GetString("Field.Title"):
                        </label>
                        @field.GetString("Field.Input").Replace(" id", " class=\"form-control\" id")
                        @if (!string.IsNullOrWhiteSpace(GetString("Field.Error")))
                        {
                            <label class="error" for="@field.GetString("Field.Name")">@field.GetString("Field.Error")</label>
                        }
                    </div>
                }

                <p>&nbsp;</p>
                <button type="submit" name="LoginAction" value="Recovery" class="btn btn-base">@Translate("Submit", "Submit")</button>
            
        </form>
    }

    @if (GetString("UserManagement:User.Login.Action") == "PasswordSent")
    {
        <div class="info-pane">
            <div class="title">@Translate("Congratulations!", "Congratulations!")</div>
            <div class="body">
                @Translate("We have sent your password to email", "We have sent your password to email").
            </div>
        </div>
    }
</div>