@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{
    var comments = GetLoop("ItemPublisher:Items.List");
    if (comments.Count == 0)
    {
        <div class="alert alert-info">@Translate("No comments!")</div>
    }
    else
    {
        <section class="comments">
            @foreach (var comment in comments)
            {
                var id = "comment-" + comment.GetValue("ItemPublisher:Item.Field.Id");
                var url = "/Default.aspx?Id=" + Pageview.Page.ID + "#" + id;

                <article class="comment" id="@id">
                    <header>
                        <a href="@url">
                            <span class="name">@comment.GetValue("ItemPublisher:Item.Name")</span>
                            @Translate("says on")
                            <span class="time">@comment.GetDate("ItemPublisher:Item.CreatedAt").ToLongDateString()</span>
                        </a>
                    </header>

                    <blockquote class="comment">
                        @comment.GetValue("ItemPublisher:Item.Comment")
                    </blockquote>
                </article>
            }
        </section>
    }
}

