<div class="col-md-3 col-sm-3 col-xs-12">
    <ul class="categories customercentermenu dwnavigation"">
            <li>@GetValue("Ecom:CustomerCenter.MyOrders")</li>
            <li>@GetValue("Ecom:CustomerCenter.FrequentlyItems")</li>
            <li>@GetValue("Ecom:CustomerCenter.MyFavorites")</li>
            <li>@GetValue("Ecom:CustomerCenter.Search")</li>
            <li>@GetValue("Ecom:CustomerCenter.RMA")</li>
    </ul>
    <p>&nbsp</p>
</div>