<div class="col-md-3 col-sm-3 col-xs-12">
	<ul class="categories customercentermenu dwnavigation" id="leftnavigation" >
		<li class="@orderselected">@GetValue("Ecom:CustomerCenter.MyOrders")</li>
		<!--<li>@GetValue("Ecom:CustomerCenter.MyFavorites")</li>-->
		<li class="@searchselected">@GetValue("Ecom:CustomerCenter.Search")</li>
		<li><a href="/Default.aspx?id=8472">@Translate("Userprofile", "Userprofile")</a></li>
	</ul>
	<p>&nbsp</p>
</div>