<div class="row">&nbsp;</div>
<div class="row">
@GetValue("Ecom:CustomerCenter.Menu")

<script type="text/javascript">
    function onValidateForm(paragraphID, orderLinesContainerId, isCreateRMA) {
        var isFormValid = true;

        if (isCreateRMA) {
            if (document.getElementById(paragraphID + "RMATypeID") != null) {
                var typeEl = document.getElementById(paragraphID + "RMATypeID");

                if (typeEl.selectedIndex == -1 || (typeEl.selectedIndex >= 0 && typeEl.options[typeEl.selectedIndex].value == "")) {
                    alert("Please specify 'Request type'");
                    isFormValid = false;
                    typeEl.focus();
                }
            }

            if (isFormValid &&  orderLinesContainerId != null && orderLinesContainerId != "" && !validateSerialNumbers(paragraphID, orderLinesContainerId)) {
                alert("Select RMA's products");
                isFormValid = false;
            }
        }

        if (isFormValid && document.getElementById(paragraphID + "RMAComment") != null && document.getElementById(paragraphID + "RMAComment").value.length < 1) {
            alert("Please specify '" + (isCreateRMA ? "Additional info" : "Customer comment") + "'");
            document.getElementById(paragraphID + "RMAComment").focus();
            isFormValid = false;
        }

        if (isFormValid && document.getElementById(paragraphID + "HasSubmit")!= null) {
            document.getElementById(paragraphID + "HasSubmit").value = "1";
        }

        return isFormValid;
    }

    function setRmaItem(active, pnCtrlId, commentCtrlId) {
        if (pnCtrlId && pnCtrlId != "" && commentCtrlId && commentCtrlId != "") {
            var ctrl = document.getElementById(pnCtrlId);

            if (ctrl && ctrl != null) {
                ctrl.value = "";
                ctrl.disabled = !active;
            }

            var ctrl = document.getElementById(commentCtrlId);

            if (ctrl && ctrl != null) {
                ctrl.value = "";
                ctrl.style.display = !active ? "none" : "";
            }
        }
    }

    function validateSerialNumbers(paragraphID, orderLinesContainerId) {
        var result = true;
        var container = document.getElementById(orderLinesContainerId);

        if (container) {
            result = false;

            var checkBoxes = new Array();

            for (var i = 0; i < container.childNodes.length; i++) {
                var childArrays = getCheckBoxes(container.childNodes[i]);

                if (childArrays && childArrays.length > 0) {
                    for (var j = 0; j < childArrays.length; j++) {
                        checkBoxes.push(childArrays[j]);
                    }
                }
            }

            if (checkBoxes && checkBoxes.length > 0) {
                var preffixId = paragraphID + "OrderLineID";
                for (var i = 0; i < checkBoxes.length; i++) {
                    if (checkBoxes[i].id.indexOf(preffixId) >= 0 && checkBoxes[i].checked) {
                        result = true;
                        break;
                    }
                }
            }
        }

        return result;
    }

    function getCheckBoxes(el) {
        var result = new Array();

        if (el) {
            var child = null, serNumberEl = null;

            for (var i = 0; i < el.childNodes.length; i++) {
                child = el.childNodes[i];
                if (child && typeof child.type != "undefined" && child.type == "checkbox") 
                    result.push(child);

                var childArrays = getCheckBoxes(child);

                if (childArrays && childArrays.length > 0) {
                    for (var j = 0; j < childArrays.length; j++) {
                        result.push(childArrays[j]);
                    }
                }
            }
        }

        return result;
    }
</script>

<H2>
@if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.RMA.HasAddContent"))) {
    Create new request
} else {
    GetString("Ecom:CustomerCenter.RMA.HasAddContent")
    
    if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.RMA.HasCancelContent"))) {
        Cancel request
    } else {
        GetString("Ecom:CustomerCenter.RMA.HasCancelContent")
        View request
    }
}
</H2>
<br />
@if (string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.RMA.HasAddContent"))) {
    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-left: 10px;">
        <tr>
            <td width="70" style="height: 19px">
                RMA ID:
            </td>
            <td style="height: 19px">
                @GetString("Ecom:RMA.ID")
            </td>
        </tr>
        <tr>
            <td width="70" style="height: 19px">
                Order ID:
            </td>
            <td style="height: 19px">
                @GetString("Ecom:RMA.OrderID")
            </td>
        </tr>
        <tr>
            <td>
                Status:
            </td>
            <td>
                @GetString("Ecom:RMA.Status")
            </td>
        </tr>
        <tr>
            <td>
                Date:
            </td>
            <td>
                @GetString("Ecom:RMA.Date")
            </td>
        </tr>
        <tr>
            <td>
                Type:
            </td>
            <td>
                @GetString("Ecom:RMA.Type.Name")
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp
            </td>
        </tr>
        <tr>
            <td colspan="2">
            </td>
        </tr>
    </table>
    @if (string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.RMA.HasCancelContent"))) {
        string cancelstr = @GetString("ParagraphID") + "CancelRmaForm";
        
        <form id="@cancelstr" name="@cancelstr" action="@GetString("Ecom:RMA.CancelURL")" onsubmit="return onValidateForm(GetString("ParagraphID"), 'OderLinesContainer', false);" method="post">
    } else {
        string addcommentstr = @GetString("ParagraphID") + "AddRmaCommentForm";
    
        <form id="@addcommentstr" name="@addcommentstr" action="@GetString("Ecom:CustomerCenter.RMA.AddCommentURL")" onsubmit="return onValidateForm(@GetString("ParagraphID"), 'OderLinesContainer', false);" method="post">
    }
}

@if (string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.RMA.HasAddContent"))) {
    string addrmastr = GetString("ParagraphID") + "AddRmaForm";
    string rmatypestr = GetString("ParagraphID") + "RMATypeID";

    <form id="@addrmastr" name="@addrmastr" action="@GetString("Ecom:CustomerCenter.RMA.AddURL")" onsubmit="return onValidateForm(@GetString("ParagraphID"), 'OderLinesContainer', true);" method="post">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-left: 10px;">
        <tr>
            <td colspan="2"></td>
        </tr>
       <tr>
        <td style="width:150;height:30;"><B>Request type:</B></td>
        <td>
	        <select id="rmatypestr" name="rmatypestr" style="width:150px;" onchange="document.forms[@addrmastr].submit();">
                <option value="">Select request type</option>
                
                @foreach (LoopItem type in GetLoop("RMATypes")) {
		            <option value="@type.GetString("Ecom:RMA.Type.ID")"> @GetString("Ecom:RMA.Type.Selected") >@GetString("Ecom:RMA.Type.Name")</option>
                }
            </select>
        </td>
       </tr>
        <tr>
            <td colspan="2" style="height: 15px"></td>
        </tr>
        @if (string.IsNullOrWhiteSpace(GetString("Ecom:RMA.OrderID.IsSetFromRequest"))) {
        <tr>
            <td width="100" style="height: 19px">
                <b>Select order:</b>
            </td>
            <td style="height: 35px; vertical-align:top;">
                <select id="<!--@ParagraphID-->RMAOrderID" name="<!--@ParagraphID-->RMAOrderID" onchange="document.forms['<!--@ParagraphID-->AddRmaForm'].submit();" style="width:350px;">
                    <option value="">Select order</option>
                    @foreach (LoopItem order in GetLoop("Orders")) {
                        <option value="@order.GetString("Ecom:Order.ID")" @order.GetString("Ecom:Order.Selected") >@order.GetString("Ecom:Order.Date"), #@order.GetString("Ecom:Order.ID"), Price: @order.GetString("Ecom:Order.OrderLines.Total.Price")</option>
                    }
                </select>
            </td>
        </tr>
       }

        <tr>
            <td colspan="2"></td>
        </tr>
    </table>
}

<table id="OderLinesContainer" border="0" cellpadding="2" cellspacing="0" style="margin-left: 10px; width: 100%;">
    <thead>
        <tr class="CustomerCenterMenu">
        @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.RMA.HasAddContent"))) {
            <td width="10%" style="background-color: Gray;">Return</td>
        }
        <td width="15%" style="background-color: Gray;">Serial nr.</td>
        <td width="15%" style="background-color: Gray;">Product nr.</td>
        <td width="10%" style="background-color: Gray;">Quantity</td>
        <td style="background-color: Gray;">Description</td>
        <td width="15%" align="right" style="background-color: Gray;">Total price</td>
    </tr>
    </thead>
    @if (string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.RMA.HasRMAOrderLines"))) {
	<tr style='height: 25px;'> 
	    <td colspan="6"><strong>There are no available products on this order.</strong></td>
        </tr>
    } else {
        @foreach (LoopItem orderline in GetLoop("RMAOrderLines")) {
          <tr style='height: 25px;'>
            @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.RMA.HasAddContent"))) {
                string orderlineid = GetString("ParagraphID") + "OrderLineID" + GetString("Ecom:RMA:OrderLine.ID");
                string commentcontid = GetString("ParagraphID") + "ProductCommentContainer" + GetString("Ecom:RMA:OrderLine.ID");
            
                <td width="10%" valign="middle"><input type="checkbox" id="@orderlineid" name="@orderlineid" value="1" onclick="setRmaItem(this.checked, '@orderlineid', '@comentcontid');" /></td>
            }
            <td valign="middle">
                @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.RMA.HasAddContent"))) {
                    string sernumb = GetString("ParagraphID") + "SerNumber" + GetString("Ecom:RMA:OrderLine.ID");
                    
                    <input type="text" id="@sernumb" name="@sernumb" value="" disabled="disabled" style="width:80px;" />
                } else {
                      GetString("Ecom:RMA:OrderLine.SerialNumber");
                }
            </td>
            <td>
                @GetString("Ecom:RMA:OrderLine.ProductNumber")
            </td>
            <td>
                @GetString("Ecom:RMA:OrderLine.Quantity")
            </td>
            <td>
                @GetString("Ecom:RMA:OrderLine.ProductName.Short")
            </td>
            <td align="right">
                @GetString("Ecom:RMA:OrderLine.TotalPrice")
             </td>
        </tr>
        @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.RMA.HasAddComment))) {
            string commentcontid2 = GetString("ParagraphID") + "ProductCommentContainer" + GetString("Ecom:RMA:OrderLine.ID");
            string commentid = GetString("ParagraphID") + "ProductComment" + GetString("Ecom:RMA:OrderLine.ID");
        
            <tr id="@commentcontid2" style='height: 60px; display: none;'>
                <td colspan="2" valign="top"><B>Comment:</B></td>
                <td colspan="4" valign="top">
                    <textarea id="@commentid" name="@commentid" style="width:100%; height:50px;"></textarea>
                </td>
            </tr>
        }
        }
    }
    <tr>
        <td colspan="6">
            &nbsp;
        </td>
    </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-left: 10px;">
    @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.RMA.HasAddComment"))) {
        <tr>
            <td valign="top" colspan="2">
                <!--@If Defined(Ecom:CustomerCenter.RMA.HasAddContent)-->
                    <B>Additional info:</B> <br />
                <!--@EndIf(Ecom:CustomerCenter.RMA.HasAddContent)-->
                <!--@If Not Defined(Ecom:CustomerCenter.RMA.HasAddContent)-->
                    <B>Customer comment:</B> <br />
                <!--@EndIf(Ecom:CustomerCenter.RMA.HasAddContent)-->
                <textarea id="<!--@ParagraphID-->RMAComment" name="<!--@ParagraphID-->RMAComment" style="width:100%; height:70px"></textarea>
            </td>
        </tr>
    }
    <tr>
        <td style="height:40px; text-align:right;" colspan="2">
            <input type="hidden" name="<!--@ParagraphID-->RMAID" id="<!--@ParagraphID-->RMAID" value="<!--@Ecom:RMA.ID-->">
            <input type="hidden" name="<!--@ParagraphID-->HasSubmit" id="<!--@ParagraphID-->HasSubmit" value="0">
            <!--@If Defined(Ecom:CustomerCenter.RMA.HasAddContent)-->
                <input type="submit" value="Create request" />
            <!--@EndIf(Ecom:CustomerCenter.RMA.HasAddContent)-->

            <!--@If Not Defined(Ecom:CustomerCenter.RMA.HasAddContent)-->
                <!--@If Defined(Ecom:CustomerCenter.RMA.HasCancelContent)-->
                    <input type="submit" value="Cancel request" />
                <!--@EndIf(Ecom:CustomerCenter.RMA.HasCancelContent)-->

                <!--@If Not Defined(Ecom:CustomerCenter.RMA.HasCancelContent)-->
                    <!--@If Defined(Ecom:CustomerCenter.RMA.HasAddComment)-->
                      <input type="submit" value="Add comment" />
                    <!--@EndIf(Ecom:CustomerCenter.RMA.HasAddComment)-->
                <!--@EndIf(Ecom:CustomerCenter.RMA.HasCancelContent)-->
            <!--@EndIf(Ecom:CustomerCenter.RMA.HasAddContent)-->
        </td>
    </tr>
</table>   
<!--@EndIf(Ecom:CustomerCenter.RMA.HasAddComment)-->

<!--@If Not Defined(Ecom:CustomerCenter.RMA.HasAddContent)-->
<table border="0" cellpadding="2" cellspacing="0" width='100%' style="margin-left: 10px;">
    <tr>
        <td style="height: 30px">
            &nbsp;<H3>History:</H3>
        </td>
    </tr>
    <!--@LoopStart(RMAComments)-->
        <tr>
            <td>
                <B><!--@Ecom:RMA:Comment.Date--></B> <!--@Ecom:RMA:Comment.Event.Description--> <!--@If Defined(Ecom:RMA:Comment.State.Name)--> "<!--@Ecom:RMA:Comment.State.Name-->"<!--@EndIf(Ecom:RMA:Comment.State.Name)--> <BR/>
                <!--@Ecom:RMA:Comment.Text-->
                <hr />
            </td>
        </tr>
    <!--@LoopEnd(RMAComments)-->
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>
<!--@EndIf(Ecom:CustomerCenter.RMA.HasAddContent)-->
</form>
</div>
</div>