@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{
    var products = GetLoop("Recommendations");

    if (products.Count == 0)
    {
        <div class="alert alert-info">@Translate("No recommendations available")</div>
    }
    else
    {
        <section class="recommendations">
            <header><h1>@Translate("Recommendations")</h1></header>

            <div class="row">
                @foreach (var product in products)
                {
                    var url = product.GetValue("Ecom:Product.Link.Clean.PID");
                    <div class="recommendation">
                        <a href="@url">
                            @product.GetValue("Ecom:Product.Number")
                            @product.GetValue("Ecom:Product.Name")
                            @product.GetValue("Ecom:Product.Price")
                        </a>
                    </div>
                }
            </div>
        </section>
    }
}
