@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@using System.Web;

@{
    var pageUrl = HttpContext.Current.Request.Url.PathAndQuery;
    var useRecommendationContext = false;
    var recommendationsUrl = GetString("RecommendationsUrl");
    if (string.IsNullOrEmpty(recommendationsUrl))
    {
        useRecommendationContext = true;
        recommendationsUrl = GetString("RecommendationsUrlBase");
    }
}

@if (!string.IsNullOrEmpty(recommendationsUrl))
{
    var cart = Dynamicweb.eCommerce.Common.Context.Cart;
    if (cart != null)
    {
        <div style="display: none" id="cart-content">
            @foreach (var line in cart.OrderLines)
            {
                <span data-product-auto-id="@line.Product.AutoId"></span>
            }
        </div>
    }

    <div class="recommendations" ng-app="recommendation" ng-controller="RecommendationController">
        <div ng-if="products" ng-cloak>
            <h1>Recommendations ({{products.length}})</h1>

            <div ng-repeat="product in products" class="recommendation">
                <a href="{{product.ProductDetailsUrl}}" class="btn">
                    <div class="image"><img class="img-responsive img-circle" ng-src="/Admin/Public/GetImage.ashx?Image={{product.ImageUrlLarge}}&amp;width=200" width="200" height="200" /></div>
                    <div class="name">{{product.Name}}</div>
                </a>
                <form method="post" action="@pageUrl">
                    <input type="hidden" name="ProductId" value="{{product.ID}}" />
                    <input ng-if="product.VariantID" type="hidden" name="VariantId" value="{{product.VariantID}}" />
                    <button type="submit" name="CartCmd" value="add">@Translate("Add to cart")</button>
                </form>
            </div>
        </div>
    </div>

    <script src='@GetValue("Template:BaseUrl")javascripts/recommendation.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script>
        (function () {
            var recommendationsUrl = '@recommendationsUrl',
            Recommendation = Dynamicweb.Recommendation;

            @if (useRecommendationContext) {
      <text>
            var getProductIds = function (config) {
                var
                    attributeName,
                    selector,
                    parent,
                    productsIds = [],
                i, id, node,
                nodes;
                config || (config = {});

                attributeName = config.attributeName || 'data-product-auto-id';
                selector = config.selector || null;
                parent = config.parent || document;

                nodes = parent.querySelectorAll(selector ? selector : '[' + attributeName + ']');
                for (i = 0; node = nodes[i]; i++) {
                    id = parseInt(node.getAttribute(attributeName));
                    if (!isNaN(id)) {
                        productsIds.push(id);
                    }
                }

                return productsIds;
            },

            getProductsQuery = function (productsIds) {
                return (productsIds && productsIds.length > 0) ? '&product=' + productsIds.join('&product=') : null;
            },

            @*
            productsQuery = getProductsQuery(getProductIds({
                selector: '#cart-content *'
            }));
            *@
            productsQuery = getProductsQuery(getProductIds());

            if (productsQuery) {
                recommendationsUrl = Recommendation.addQueryString(recommendationsUrl, productsQuery, 'type=item');
            } else {
                recommendationsUrl = null;
            }
            </text>
}

            if (recommendationsUrl) {
                angular.module('recommendation', [])
                               .controller('RecommendationController', ['$scope', function ($scope) {
                                   Recommendation.loadRecommendations({
                                       recommendationsUrl: recommendationsUrl,
                                       renderProducts: function (products) {
                                           $scope.$apply(function () {
                                               $scope.products = products;
                                           });
                                       }
                                   });
                               }]);
            }
        }())</script>
    @SnippetEnd("JavaScriptBottom")
}
