@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@using System.Web

@{
    var elementId = "recommendation-" + GetValue("ElementId");
    var useRecommendationContext = false;
    var recommendationsUrl = GetString("RecommendationsUrl");
    var recommendationsUrlBase = GetString("RecommendationsUrlBase");
    if (string.IsNullOrEmpty(recommendationsUrl))
    {
        useRecommendationContext = true;
        recommendationsUrl = recommendationsUrlBase;
    }
}

@if (!string.IsNullOrEmpty(recommendationsUrl))
{
<pre><a href="@recommendationsUrl" target="recommendations">@recommendationsUrl</a></pre>
}

@if (!string.IsNullOrEmpty(recommendationsUrl))
{
    var cart = Dynamicweb.eCommerce.Common.Context.Cart;
    if (cart != null)
    {
        <div style="display: none" id="cart-content">
            @foreach (var line in cart.OrderLines)
            {
                <span data-product-auto-id="@line.Product.AutoId"></span>
            }
        </div>
    }
    <div class="row recommendations" id="@elementId">
        <script type="text/dynamicweb-ecom-template" id="dynamicweb-recommendations-template">
            <div class="col-md-4 col-sm-4 col-xs-12 recommendation">
                <a href="{{ProductDetailsUrl}}">
                    <div class="image"><img src="/Admin/Public/GetImage.ashx?Image={{ImageUrlLarge}}&amp;width=200" width="200" height="200" /></div>
                    <div class="name">{{Name}}</div>
                </a>
            </div>
        </script>
    </div>
    <script src='@GetValue("Template:BaseUrl")javascripts/Recommendation.js'></script>
    <script>
        window, addEventListener('load', function () {
            var recommendationsUrl = '@recommendationsUrl',
            Recommendation = Dynamicweb.Recommendation,
            render = function (template, data) {
                return template.replace(/\{{2}([^}]+)\}{2}/g, function (_, key) {
                    return typeof data[key] != 'undefined' ? data[key] : key;
                });
            };
            @if (useRecommendationContext) {
      <text>
            var getProductIds = function (config) {
                var
                    attributeName,
                    selector,
                    parent,
                    productsIds = [],
                i, id, node,
                nodes;
                config || (config = {});
                attributeName = config.attributeName || 'data-product-number';
                selector = config.selector || null;
                parent = config.parent || document;
                nodes = parent.querySelectorAll(selector ? selector : '[' + attributeName + ']');
                for (i = 0; node = nodes[i]; i++) {
                    id = node.getAttribute(attributeName);
                    if (id) {
                        productsIds.push(id);
                    }
                }
                return productsIds;
            },
            getProductsQuery = function (productsIds) {
                return (productsIds && productsIds.length > 0) ? '&product=' + productsIds.join('&product=') : null;
            },
            productsQuery = getProductsQuery(getProductIds({
                selector: '#cart-content *'
            }));

            productsQuery = getProductsQuery(getProductIds());

            if (productsQuery) {
                recommendationsUrl = Recommendation.addQueryString(recommendationsUrl, 'type=item', productsQuery);
            } else {
                recommendationsUrl = null;
            }
            </text>
}
            if (recommendationsUrl) {
                Recommendation.loadRecommendations({
                    recommendationsUrl: recommendationsUrl,
                    renderProducts: function (products) {
                        var i, product, content,
                            template = document.getElementById('dynamicweb-recommendations-template').innerHTML.replace(/^\s+/, '').replace(/\s+$/, '')
                        container = document.getElementById('@elementId');
                        if (template && container && products) {
                            content = [];
                            for (i = 0; product = products[i]; i++) {
                                content.push(render(template, product));
                            }
                            container.innerHTML = content.join('');
                        }

                        var info = document.createElement('pre');
                        info.setAttribute('style', 'clear: both; white-space: pre-wrap; position: fixed; bottom: 0; width: 100%');
                        info.innerHTML = [
                            'Recommendations url (base):   <a href="' + @Newtonsoft.Json.JsonConvert.SerializeObject(GetString("RecommendationsUrlBase")) + '" target="recommendations">' + @Newtonsoft.Json.JsonConvert.SerializeObject(GetString("RecommendationsUrlBase")) + '</a>',
                            'Recommendations url:          <a href="' + @Newtonsoft.Json.JsonConvert.SerializeObject(GetString("RecommendationsUrl")) + '" target="recommendations">' + @Newtonsoft.Json.JsonConvert.SerializeObject(GetString("RecommendationsUrl")) + '</a>',
                            'Computed recommendations url: <a href="' + recommendationsUrl + '" target="recommendations">' + recommendationsUrl + '</a>',
                        ].join('\n');
                        document.body.appendChild(info);
                    }
                });
            }
        })</script>
}
